.page-wrap {
  margin: 0 auto;
  max-width: 46rem;
  padding: 0 1.4rem;
}

.main-content {
  margin-bottom: $elemSpacing;

  p {
    a {
      text-decoration: underline;
    }
  }

  &.page-content {
    text-align: center;
  }
}
