.post-archive {
  @include listReset;

  .post-group-heading {
    text-align: center;
  }

  a:hover {
    text-decoration: none;
  }

  .post {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;

    .post-date {
      font-size: 0.9rem;
    }

    &:hover {
      background-color: $secondaryColor;

      .post-title {
        text-decoration: underline;
      }

      .post-date {
        color: $primaryFontColor;
      }
    }
  }

  .no-posts {
    text-align: center;
    font-weight: bold;
    margin: 4rem 0;
    font-size: 1.4rem;
  }
}

@media (max-width: $mobileDeviceMaxWidth) {
  .post-archive {
    .post {
      flex-direction: column;
      text-align: center;
      margin-bottom: 1rem;

      .post-date {
        font-size: 0.8rem;
      }
    }
  }
}
