.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $elemSpacing 0 5rem 0;

  .site-title {
    font-size: 2.6rem;
    font-weight: 900;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: $mobileDeviceMaxWidth) {
  .site-header {
    flex-direction: column;
    margin-bottom: 0;
    line-height: 3rem;

    .site-title {
      margin-bottom: 0;
      font-size: 2.4rem;

      text-align: center;
    }
  }
}
