<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% if page.tags %}
  <meta name="keywords" content="{{ page.tags }}">
  {% endif %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,900">
  <link rel="stylesheet" href="{{ "/resources/stylesheets/main.css" | absolute_url }}">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.js"></script>
  <script type="text/javascript" src="{{ "/resources/scripts/main.js" | absolute_url }}"></script>

  <link rel="shortcut icon" href="https://www.gravatar.com/avatar/{{ site.gravatar_username_hash }}?s=16" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  {% feed_meta %}

  <link rel="sitemap" type="application/xml" title="{{ site.title }}" href="{{ "/sitemap.xml" | absolute_url }}">
</head>
