@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: theme("colors.primaryLight");
}

a {
  text-decoration: none;
}

a:hover,
a.active {
  text-decoration: underline;
  color: theme("colors.primary");
}

main a {
  text-decoration: underline;
}

main p {
  margin: theme("spacing.mainContent") 0;
}
